@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Song+Myung&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.mainbanner{
    background-image: url("./img/banner.jpg");
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.text{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: textmove 1s ease-in-out;
}

@keyframes textmove{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    90%{
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}




.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}




.wrapper{
    display: flex;
    flex-direction: row;
    max-width: 1320px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}




.sidebar{
    width: 170px;
}

.sidebar .mainmenu{
    background-color: orange;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sidebar .mainmenu ul{
    padding: 10px;
    margin: 0;
}

.sidebar .mainmenu ul li{
    list-style: none;
    height: 49px;
}

.sidebar .mainmenu ul li a{
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 11px;
    font-size: 17px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

/* .writeBtnBox{

} */

.writeBtnBox .writeBtn{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: start;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}

.writeBtnBox .writeBtn .arrow{
    transition: all 0.3s ease-in-out;
}






.itemwrap{
    width: calc(100% - 170px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
}

.item{
    width: 24%;
    aspect-ratio: 6 / 5;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.imagebox{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.imagebox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.textbox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 3;
    opacity: 0;
}

.textbox p{
    color: white;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 10px;
}

.textbox_name{
    font-size: 30px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px);
}

.textbox_price{
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s ease-in-out 0.15s;
    transform: translateY(100px);
}

.item:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}





