@media screen and (max-width: 767px){
    /* mobile */
    .mainbanner{
        height: 160px;
    }

    .mainbanner .text{
        font-size: 26px;
    }
    
    .wrapper{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .sidebar{
        width: 100%;
    }

    .sidebar .mainmenu{
        display: flex;
        justify-content: center;
        border-radius: 0;
        height: 50px;
    }

    .sidebar .mainmenu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
    }

    .sidebar .mainmenu ul li a{
        padding: 0;
    }

    .writeBtnBox{
        display: none;
    }

    .item{
        overflow: visible;
        border: 1px solid #dddddd;
    }

    .itemwrap{
        width: 100%;
    }

    .itemwrap .item{
        width: 48%;
    }

    .imagebox{
        position: relative;
        border-radius: 10px;
    }

    .textbox{
        position: relative;
        opacity: 1;
        height: auto;
        padding: 10px;
    }

    .textbox p{
        color: black;
        margin: 0;
        padding-bottom: 20px;
        padding: 0;
        transform: translateY(0);
    }
    
    .textbox_name{
        font-size: 18px;
        font-weight: 700;
    }
    
    .textbox_price{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    /* tablet  */
} 

@media screen and (min-width: 1024px){
    /* PC */
    .sidebar .mainmenu ul li a:hover{
        background-color: #ff8c00;
        padding-left: 30px;
    }
    
    .writeBtnBox .writeBtn:hover{
        background-color: white;
        color: black;
    }
    
    .writeBtnBox .writeBtn:hover .arrow{
        display: inline-block;
        transform: translateX(50px);
    }
    
    .item:hover .textbox{
        opacity: 1;
    }
    
    .item:hover .textbox_name{
        transform: translateY(0);
    }
    
    .item:hover .textbox_price{
        transform: translateY(0);
    }
    
    .item:hover:after{
        opacity: 1;
    }
    
    .item:hover .imagebox img{
        transform: scale(110%);
        filter: blur(3px);
    }
}
