*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    height: 80px;
}

.header-inner{
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
}

.logo h1 a{
    color: orange;
    text-decoration: none;
}

.menu_ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_ul li{
    list-style: none;
}

.menu_ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}

.menu_ul li a:hover{
    color: orange;
}

.user{
    width: 100px;
}

.container{
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.wrapper{
    width: 620px;
    padding: 40px 30px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}

.wrapper_head{
    padding-bottom: 20px;
    border-bottom: 1px dashed gray;
    margin-bottom: 20px;
}

.wrapper_head_title{
    font-size: 32px;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.wrapper_head_sub-title{
    padding: 10px 0;
}

#point{
    color: orange;
    font-size: 22px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 15px;
    display: block;
}

.wrapper_body{
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
}

.wrapper_body_content{
    font-weight: 600;
}

.wrapper_body_content_title{
    background-color: #f4f4f4;
    padding: 5px 0;
    margin-bottom: 20px;
}

.kimchi{
    color: red;
}

.egg{
    color:orange;
}

.overeat{
    color: blue;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
}

.date{
    color: #919191;
    font-size:14px;
    text-align: right;
}

/*body{
    margin: 100px;
    background-color: gainsboro;
}

.container{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
}

.wrapper{
    width: 500px;
}

.wrapper_head_title{
    margin: 22px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
}

.wrapper_head_sub-title{
    margin: 22px;
    font-weight: 1000;
}

#point{
    color: orange;
    text-decoration: underline;
    font-size: 25px;
    display: block;
    margin-top: 10px;
}

.wrapper_body{
    border-top: 1px dotted black;
    border: 3px solid gainsboro;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 22px;
    border-radius: 5px;
}

.wrapper_body_content{
    margin-top: 22px;
    padding-left: 22px;
    padding-right: 22px;
}

.wrapper_body_content_title{
    background-color: antiquewhite;
    font-weight: 600;
}

.wrapper_body_contetn_diary{
    font-weight: 400;
    font
}

.kimchi{
    color: red;
}

.overeat{
    color: blue;
    font-style: italic;
    font-weight: 600;
}

.wrapper_body_content_weather{
    margin-left: 340px;
    margin-bottom: 20px;
    color: gray;
    font-weight: 600;
    font-size: 13px;
}*/