*{
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 104px;
    border: 2px solid red;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item{
    width: 100px;
    height: 100px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveBox 2s ease-in-out infinite alternate;
    position: absolute;
}

.item span{
    color: white;
}

@keyframes moveBox{
    from{
        border-radius: 0;
        background: blue;
        left: 0;
        transform: scale(1);
    }
    to{
        border-radius: 50%;
        background: green;
        left: calc(100% - 100px);
        transform: scale(0.75);
    }
}